{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}


	<header class="masthead d-flex align-items-center">

		<div class="container px-4 px-lg-5 text-center">

			<h1 class="mb-1"></h1>
			<h3 class="mb-5">
				<span class="emHome" id="typed-text"></span>

				<span class="visibleW320 ">
					Bonjour, je suis Psyko, alias DANNY.
					<br>Bienvenue dans mon espace dedie au developpement securise et a la cyber securite<br>
					Ou la technologie rencontre la protection pour un monde connecte en toute confiance.<br>
					Explorez mes projets, decouvrez mes competences<br>Suivez-moi dans ce voyage passionnant à travers la securite numerique.<br>
					Ensemble, protegeons l'avenir du web !

				</span>

				<span class="cursor">|</span>

			</h3>

		</div>
	</header>
	<!-- About-->
	<section class="content-section text-white bg-dark" id="about">

		<div class="container px-4 px-lg-5 text-center">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-lg-10">
					<div><img class="logoPsyko" src="{{asset("assets/img/logopsyko.png")}}" width="500px" alt=""></div>
					<h2>Qui je suis ?</h2>
					<h3>Je m'apelle Danny</h3>

					<h4>Autodidacte pendant mes heures perdues...👾</h4>
					<p class="lead mb-5 mt-5">
						Attiré par le monde du numérique depuis tout jeune, j'en ai fait ma passion très tôt, que ce soit le gaming, le high-tech ou l'informatique.
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																J'aime les nouveautés.<br>
						<br>
						Je suis rapidement devenu technicien de maintenance en informatique afin de mettre à contribution mes compétences pour aider les personnes dans le besoin.<br>
						En 2018, je me suis lancé dans la cybersécurité après avoir participé à des CTF (jeux de capture de drapeaux).🏴‍☠️
						<br>C'est là que j'ai eu une révélation :<br>
						<span>JE VEUX DEVENIR UN EXPERT EN CYBERSÉCURITÉ</span>
						ou
						<span>UN EXPERT EN PHP.</span>
					</p>
					<h4>Je recherche une stabilite professionnelle. 😎</h4>
					<p class="lead mb-5mt-5">

						Après avoir exercé différents métiers, je suis à la recherche d'une stabilité professionnelle.<br>
						Je suis intéressé par une entreprise jeune, à taille humaine, qui partage des valeurs et des principes auxquels je crois<br>
						J'aspire à être reconnu à ma juste valeur et à être utile, tant pour moi que pour l'entreprise.<br>
						Je suis quelqu'un qui apprécie le travail d'équipe et je m'intègre facilement dans une entreprise.<br>
						Je suis capable à la fois de suivre les directives et de prendre des responsabilités de gestion si nécessaire.
																																															
																																				J'ai rapidement compris que j'avais la chance d'avoir des capacités dans ce domaine et la capacité d'apprendre très vite.</p>

				</div>
			</div>
		</div>
	</div>
</section><!-- Services--><section class="content-section bg-dark  text-white text-center w-80" id="skills">

	<div class="container px-4 px-lg-5">
		<div class="content-section-heading">
			<h3 class=" mb-0"></h3>


			<h2 class="anim  mb-5 pb-5 pt-3 ">Mes competences</h2>


		</div>
		<div class="row gx-4 gx-lg-5">
			<div class=" col-lg-3 col-md-6 mb-5 mb-lg-0">
				<span class=" skills service-icon bg-dark border border-4 border-success rounded-circle mx-auto mb-3">

					<div class="front">
						<i class="fa-brands fa-html5" style="color: #ff9300;font-size: 60px"></i>
					</div>
					<div class="back">
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>

					</div>

				</span>
				<h4>
					<strong>HTML</strong>
				</h4>


			</div>
			<div class=" col-lg-3 col-md-6 mb-5 mb-lg-0">

				<span class=" skills service-icon bg-dark border border-4 border-success rounded-circle mx-auto mb-3">


					<div class="front">
						<i class="fa-brands fa-sass" style="color: #942192;font-size: 60px"></i>
					</div>
					<div class="back">
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>

					</div>


				</span>
				<h4>
					<strong>Sass</strong>
				</h4>

			</div>
			<div class=" col-lg-3 col-md-6 mb-5 mb-md-0">

				<span class=" skills service-icon bg-dark border border-4 border-success rounded-circle mx-auto mb-3">

					<div class="front">
						<i class="fa-brands fa-symfony" style="color: #942192;font-size: 60px"></i>
					</div>
					<div class="back">
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>


					</div>


				</span>
				<h4>
					<strong>Php/Symfony</strong>
				</h4>

			</div>
			<div class=" col-lg-3 col-md-6 mb-5 mb-md-0">


				<span class=" skills service-icon bg-dark border border-4 border-success rounded-circle mx-auto mb-3">


					<div class="front">
						<i class="fa-brands fa-js" style="color: #ffaa00;font-size: 60px"></i>
					</div>
					<div class="back">
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>

					</div>


				</span>
				<h4>
					<strong>JS</strong>
				</h4>

			</div>
			<div class="col-lg-3 col-md-6 mb-5 mb-md-0">


				<span class=" skills service-icon bg-dark border border-4 border-success rounded-circle mx-auto mb-3">


					<div class="front">
						<img src="{{asset("assets/img/kali.svg")}}" alt="">
					</div>
					<div class="back">
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>

					</div>
				</span>
				<h4>
					<strong>Kali</strong>
				</h4>

			</div>
			<div class="col-lg-3 col-md-6 mb-5 mb-md-0">


				<span class=" skills service-icon bg-dark border border-4 border-success rounded-circle mx-auto mb-3">


					<div class="front"><img src="{{asset("assets/img/mysql.svg")}}" width="60px" alt=""></div>
					<div class="back">
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>
						<i class="fa-solid fa-star" style="color: #77bb41; font-size: 20px"></i>

					</div>
				</span>
				<h4>
					<strong>Mysql</strong>
				</h4>

			</div>
			<div class=" col-lg-3 col-md-6 mb-5 mb-md-0">


				<span class=" skills service-icon bg-dark border border-4 border-success rounded-circle mx-auto mb-3">


					<i class="fa-brands fa-vuejs" style="color: #669c35;font-size: 60px"></i>


				</span>
				<h4>
					<strong>Vue JS (en cours)</strong>
				</h4>

			</div>
			<div class=" col-lg-3 col-md-6 mb-5 mb-md-0">


				<span class=" skills service-icon bg-dark border border-4 border-success rounded-circle mx-auto mb-3">


					<i class="fa-brands fa-laravel" style="color: #ff2600;font-size: 60px"></i>


				</span>
				<h4>
					<strong>Laravel (en cours)</strong>
				</h4>

			</div>


		</div>

	</section>
	<!-- Portfolio-->
	<section class="content-section bg-dark" id="project">
		<div class="container px-4 px-lg-5">
			<div class="tilteProject content-section-heading text-center">


				<h2 class="anim mt-5 mb-5">Mes Realisations</h2>
				<h3>Tous les sites sont des prototypes ( je suis en formation )</h3>
			</div>
			{% for project in projects %}


				<div class="containerPro row gx-0 mb-5">
					<div class="containerProAlign align-items-center d-flex justify-content-between col-lg-10 w-80">

						<a class="portfolio-item" href="#!">
							{% for projectPicture in project.projectPictures %}


								<img class="img-fluid" src={{ projectPicture.picture }} alt="..."/>
							{% endfor %}

						</a>

						<div class="textContent ml-5 col-lg-5">
							<h3>{{ project.name }}</h3>

							<p>{{ project.description }}</p>


							<div class="skillName d-flex justify-content-around">
								{% for projectSkills in project.projectSkills %}

									<p class="skillsName">{{ projectSkills.skills.name }}</p>


								{% endfor %}
							</div>


						</div>

					</div>
				</div>

			{% endfor %}
		</div>


	</div>
</section>{% endblock %}
